body {
    background: url(images/bg-image.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}
#input-area{
    /* margin-top: 20px; */
}
#city-name{
    color:mediumvioletred;
}
#temp-color{
    color:red;
    font-size: 30px;
}
#weatherStatus{
    color: rgb(185, 252, 0);
}
#footer{
    color: white;
    text-align: center;
    margin-top: 300px;
    font-size: 10px;
}
#copyNotice{
    color: white;
    text-align: center;
    margin-top: 70px;
    font-size: 7px;
}
#details{
    display: none;
}